<a href="https://colab.research.google.com/github/oneoftwo/CH453_AI_chemistry/blob/main/practice_0_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CH485 practice 0**

This is the initial assessment for CH485 AI Chemistry. This test aims to measure your foundational Python abilities, crucial for the entire course. It's assumed that students are familiar with the topics presented in this assessment during class discussions. Please refrain from using AI-based coding assistance programs, such as ChatGPT and Copilot, while taking this test. Although this assessment won't affect your final grade, if you find some questions difficult, we recommend revisiting the related contents on your own before the first practice session.

# **Basic Python Algorithm**

1. Implement `bubble_sort` and `insertion_sort`. Each functions will get input with a list of numbers to sort, returning the same length of list with increasing order.
    
    Bubble sort, sometimes referred to as sinking sort, is a simple sorting algorithm that
    repeatedly steps through the list, compares adjacent elements and swaps them if they
    are in the wrong order. The pass through the list is repeated until the list is sorted. The
    algorithm, which is a comparison sort, is named for the way smaller or larger elements
    "bubble" to the top of the list.
    
    Insertion sort iterates, consuming one input element each repetition, and grows a sorted
    output list. At each iteration, insertion sort removes one element from the input data,
     finds the location it belongs within the sorted list, and inserts it there. It repeats until
    no input elements remain.
    
2. Implement function `find_primes_less_than`, and by using it, implement `prime_factorization`.
3. Implement function `n_base_repr`, using `while` loop. In case of the base larger than 10, each numbers will be written from A to Z. For instance, 27 will be written in "1B" in base 16.

In [ ]:
def bubble_sort(lst):
    """
    Sorts a list using the bubble sort algorithm.

    Input:
        lst (list): List of numbers to sort.

    Return:
        List of numbers sorted in ascending order.
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def insertion_sort(lst):
    """
    Sorts a list using the insertion sort algorithm.

    Input:
        lst (list): List of numbers to sort.

    Return:
        List of numbers sorted in ascending order.
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def find_primes(n):
    """
    Find primes less than or equal to n using the Sieve of Eratosthenes.

    Input:
        n (int): a number up to which to find prime numbers

    Output:
        A set with the prime numbers less than or equal to n
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def n_base_repr(n, base_val=2):
    """
    Generates a base representation of a given number.

    Input:
        n (int): a number
        base_val (int): the base

    Output:
        A string of the base_val representation of n.
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #

In [ ]:
# check (do not change)
to_sort = [-1, 1, 2, 3, 123, 9e3, -9.9 , 10.2]
done_sort = [-9.9, -1, 1, 2, 3, 10.2, 123, 9000.0]
primes_7 = {2, 3, 5, 7}
primes_2 = {2}
primes_18 = {2, 3, 5, 7, 11, 13, 17}
n_base_repr_19_2 = "10011"
n_base_repr_1203_14 = "61D"
n_base_repr_123_6 = "323"
assert done_sort == bubble_sort(to_sort), "bubble_sort"
assert done_sort == insertion_sort(done_sort), "insertion_sort"
assert primes_2 == find_primes(2)
assert primes_7 == find_primes(7)
assert primes_18 == find_primes(18)
assert n_base_repr_19_2 == n_base_repr(19, 2)
assert n_base_repr_1203_14 == n_base_repr(1203, 14)
assert n_base_repr_123_6 == n_base_repr(123, 6)
print("nice!")

nice!

# **Processing String**

1. Implement the funtion `get_all_chars`. This function recieves a string and returns a list of characters included in the string. For instance, for string "Hello", the function should return ["H", "e", "l", "o"].
2. Implement `string_statistics`. This function finds all the characters in the given string and returns a dictionary that has key value of each character and item as the number of character in the string. For instalce with a input string "Hello", the function should return {"H":1, "l":2, "e":1, "o":1}.
3. In deep learning, it's often necessary to encode strings into numerical sequences. Implement `encode_sequence` and `decode_sequence` that encodes and decodes the string to numerical sequence and vice versa. For instance, for a given sequence "Hello", when encoded [0, 1, 2, 2, 3] will be obtained. You may use the function `get_all_chars`.

In [ ]:
sample_string = "Extended-connectivity fingerprints (ECFPs) are a novel class \
of topological fingerprints for molecular characterization. Historically, \
topological fingerprints were developed for substructure and similarity \
searching. ECFPs were developed specifically for structure−activity modeling."

In [ ]:
def get_all_chars(s):
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def string_statistics(s):
    """
    Generates statistics from a given string.

    Input:
        s (str): Input string

    Output:
        A dictionary containing statistics about the string. (include blank)
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def encode_sequence(s, chars):
    """
    Input:
        s (str): Input string
        chars (list): A list of characters, each charcters will be mapped to
            the its index in chars
    Output:
        a list of integers encoded
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def decode_sequence(seq, chars):
    """
    Input:
        seq (list): A list of integers
        chars (list): A list of characters
    Output:
        string
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


# sample usage of encode_sequence and decode_sequence
chars = get_all_chars(sample_string)
seq = encode_sequence(sample_string, chars)
regen_sample_string = decode_sequence(seq, chars)

In [ ]:
# check yourself(do not change)
chars = ['m', 'p', ')', 'x', '.', 'r', 'C', 'l', 'd', 'u', 'E', 'c', 'n', 't', \
         'w', ' ', 'g', 'b', '−', 'h', 'a', 'f', '-', 'z', 'H', 'e', 'v', 's', \
         'P', 'y', 'o', 'i', 'F', ',', '(']
string_stats = {'x': 1, 'E': 3, 't': 18, 'e': 25, 'n': 14, 'd': 8, '-': 1, \
                'c': 15, 'o': 18, 'i': 23, 'v': 5, 'y': 5, ' ': 29, 'f': 8, \
                'g': 7, 'r': 22, 'p': 8, 's': 14, '(': 1, 'C': 2, 'F': 2, \
                'P': 2, ')': 1, 'a': 15, 'l': 16, 'm': 3, 'u': 6, 'h': 2, \
                'z': 1, '.': 3, 'H': 1, ',': 1, 'w': 2, 'b': 1, '−': 1}
assert set(chars) == set(get_all_chars(sample_string))
assert string_stats == string_statistics(sample_string)
chars = get_all_chars(sample_string)
seq = encode_sequence(sample_string, chars)
regen_sample_string = decode_sequence(seq, chars)
assert regen_sample_string == sample_string
print("nice!")

nice!

# **Class**
1. Implement the `__init__`, `add_taken_course`, and `get_average_grade`
method in the `Student` class.
2. Implement the function `check_common_course` that receives two `Student` object and returns the list of the courses taken in common.
3. Implement `get_best_student_name` that receives the list of students and returns the student's name which has the highest average grade.
4. By inheriting the `Student` class, make a `GradStudent` class. The `GradStudent` class receives the same parameters as `Student` and in addition receives `reaserch_field` parameter. Use a `super` method.

In [ ]:
class Student:
    def __init__(self, student_name, id, age):
        pass
        """
        inputs:
            student_name (str): the name of the student
            id (int): the 8 digit student ID (ex. 20230001)
            age (int): the age of the student
        outputs:

        """
        # Implement here ===================================================== #

        # ==================================================================== #

    def add_taken_course(self, new_courses, new_course_grades):
        pass
        """
        inputs:
            new_courses (list): a list of string with the courses to add
                (ex. ["CS101", "CH101", "MAS101"])
            new_course_grades (list): a list of grades corresponding to
                new_courses (ex. [3.3, 3.0, 4.3])
        """
        # Implement here ===================================================== #

        # ==================================================================== #

    def get_average_grade(self):
        """
        returns the average grade (float) of the student
        """
        pass
        # Implement here ===================================================== #

        # ==================================================================== #


def check_common_course(student_1, student_2):
    """
    inputs:
    outpus: a list of common course taken by two students
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


def get_best_student_name(student_list):
    """
    inputs:
        student_list (lst): a list of Student object
    outputs (str): the name of the student with the highest average grade
    """
    pass
    # Implement here ========================================================= #

    # ======================================================================== #


class GradStudent(Student):
    def __init__(self, student_name, id, age, reaserch_field):
        pass
        # Implement here ===================================================== #

        # ==================================================================== #

    def print_average_grade(self):
        pass
        # Implement here ===================================================== #

        # ==================================================================== #

In [ ]:
# check yourself
student_1 = Student("Lee Joongwon", 20230001, 24)
student_1.add_taken_course(["CH101", "MAS101", "CS101"], [4.3, 3.3, 3.7])
student_2 = Student("Kim Junhyung", 20230002, 25)
student_2.add_taken_course(["CH101", "MAS101", "CH102"], [3.3, 4.0, 4.0])
student_3 = Student("Zhung Wonho", 20230003, 25)
student_3.add_taken_course(["CH101", "MAS102", "CH102", "BS101"], [4.0, 4.0, 3.7, 4.3])
print(check_common_course(student_1, student_2))
print(get_best_student_name([student_1, student_2, student_3]))
grad_student_1 = GradStudent("Lee Joongwon", 20230001, 24, "CH")
grad_student_1.add_taken_course(["CH401", "CH375", "CH601"], [4.3, 4.3, 3.7])
grad_student_1.print_average_grade()

['MAS101', 'CH101']
Zhung Wonho
4.1000000000000005

# **Using Library**
Here, you will estimate the value of pi using MC (monte carlo) simulation. First, sample number of points within [0,1] to [0, 1] square, and save the coordintes. Then, count the number of points within a semi-half circle with radius 1, centered at (0,0). Then, use the probability concept to estimate the value of pi, based on the result (The number of points that are in the circle divided by the number of all points will be the estimation of pi/4). Use `numpy` package to calculate and randomly select points. Do not use `for` or `while` loop solving this problem.




![image.png]()

In [ ]:
import numpy as np


def estimate_pi(n_sample):
    pass
    # Implement here ========================================================= #

    # ======================================================================== #

In [ ]:
# check yourself (check if the printed value is near pi(3.14))
print(estimate_pi(100000))

3.14164